*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing:content-box;
}

html{
    scroll-behavior: smooth;
}

#whole{
    background-image: url(https://learn.g2.com/hs-fs/hubfs/IT%20Portfolio%20Management@2x.png?width=1480&name=IT%20Portfolio%20Management@2x.png);
}
.top{
    width:100%;
    height: 20vh;
}

img{
    margin-left: 50vh;
    border-radius: 100px;
}

ul li{
    padding: 1vh;
    margin-left: 5vh;
}

#navbar ul{
    display:flex ;
    list-style: none;
    padding-top: 4px;
}

#navbar ul li{
    margin: 5px;
}

#navbar ul li a{
    text-decoration: none;
    color:rebeccapurple;
    border-radius: 20px;
    padding: 3px;
    margin-top: 5px;
    transition: 0.3s;
    }

#navbar ul li a:hover{
    border: 2px solid gainsboro;
    background-color: gainsboro;
    color:rebeccapurple;
    text-decoration: none;
    border-radius: 20px;
    padding: 3px;
    margin-top: 5px;
    }

#pi{
    width: 800px;
    height: 75vh;
    margin: 45vh;
    padding: 20 px 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color:white ;
    list-style: none;
}

#pi h2{
    padding-left: 3vh;
    padding-top: 3vh;
}

#pi ul{
    font-size: large;
}

#me{
    width: 800px;
    height: 35vh;
    list-style: none;
    margin: 45vh;
    padding: 20px 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color:white ;
    font-size: larger;
}

#skill{
    width: 800px;
    height: 70vh;
    list-style: none;
    margin: 45vh;
    padding: 20px 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color:white ;
}

#hobby{
    width: 800px;
    height: 40vh;
    list-style: none;
    margin: 45vh;
    padding: 20px 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color:white ;
}

#hobby ul{
    font-size: larger;
}

#contact_me{
    width: 50vh;
    height: 60vh;
    background-color: white;
    border-radius: 20px;
    margin-left: 75vh;
    margin-bottom: 5vh;
}

form h2{
    padding: 2vh;
}

form input{
    border-radius: 5px;
    margin-top: 3vh;
    padding: 1vh;

}

form textarea{
    width: 23vh;
    height: 10vh;
    border-radius: 5px;
    margin-top: 3vh;
    padding: 1vh;
}
