*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing:content-box;
}
#whole{
    background-image: url(https://learn.g2.com/hs-fs/hubfs/IT%20Portfolio%20Management@2x.png?width=1480&name=IT%20Portfolio%20Management@2x.png);
}
.top{
    width:100%;
    height: 300px;
    background-color: aquamarine;
}

#navbar ul{
    
    display:flex ;
    list-style: none;
    padding-top: 4px;
}
#navbar ul li{
    margin: 5px;
}
#navbar ul li a{
    border:2px solid gainsboro;
    text-decoration: none;
    background-color: gainsboro;
    border-radius: 20px;
    padding: 3px;
    margin-top: 5px;
    }

#pi{
    list-style: none;
    padding: 20px 20px;
    
    border: 1px solid rebeccapurple;
    background-color: ;
}